li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
    list-style: none;
}

li .delete-btn, li button {
    visibility: hidden;
}

li:hover .delete-btn, li:hover button {
    visibility: visible;
}

li.completed {
    text-decoration: line-through;
    opacity: 0.5;
}